* {
    margin: 0px;
}

body {
    text-align: center;
    padding: 20px;
    border: 10px;
    background-color: #0d1117;
    color: #c9d1d9;
}

#title {
    margin-top: 10px;
    height: 100px;
    width: auto;
}

#title, h1, h3 {
    padding: 8px;
    color: #F0F6FC;
}

#img-div {
    padding: 20px;
    background: #161b22;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    margin-top: 10px;
}

h2 {
    margin-top: 20px;  
    margin-bottom: 40px;
    font-size: 1.8rem;
}

#tribute-info ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    font-size: 1.2rem;
}

#tribute-info ul li {
    margin-top: 35px;
}

#tribute-quote {
    margin-bottom: 20px;
}

.tribute-link {
    color: #8b949e;
    margin-bottom: 10px;
}

#tribute-link a{
    color: #58a6ff;
}